<div class="lg:grid lg:grid-cols-2 bg-gray-100">

    <div class="px-8 pb-8 pt-2 max-w-md mx-auto sm:max-w-xl sm:pt-4 lg:px-12 lg:py-20 lg:max-w-full ">

        <img class="h-20 lg:h-32" src="/assets/img/logo.png" alt="Workcation">
        <img class="mt-4 rounded-2xl shadow-xl sm:h-56 sm:w-full sm:object-cover object-center lg:hidden"
            src="/assets/img/beach_work.jpg" alt="Man workcationing">
        <h1 class="font-Calistoga mt-6 text-[22px] text-bBrown sm:text-3xl lg:text-[26px]">You can take work from
            anywhere.
            <br class="hidden lg:inline">
            <span class="text-bBlue">Take advantage of it..!</span>
        </h1>
        <p class="mt-2 text-sm font-light text-gray-700 sm:text-base lg:mt-3">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's
            standard dummy text ever since the 1500s.
        </p>

        <div class="mt-2 space-x-2 sm:space-x-3 lg:space-x-4 sm:mt-4 lg:mt-6">
            <a class="btn" href="">Book your escape</a>
        </div>

    </div>

    <div class="hidden lg:block relative">
        <img class="absolute inset-0 w-full h-full object-cover object-center" src="/assets/img/beach_work.jpg"
            alt="Man workcationing">
    </div>

</div>

<div class="bg-gray-300">
    <div class="px-8 py-8 max-w-md mx-auto sm:max-w-xl lg:px-12 lg:py-20 lg:max-w-full ">

        <h2 class="text-2xl text-gray-900 font-semibold font-Calistoga lg:text-[26px]">Popular Destinations</h2>
        <p class="mt-2 text-gray-600 text-sm lg:text-base">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.</p>

        <div class="my-6 grid gap-6 lg:grid-cols-2 lg:mt-10">
            <ng-container *ngFor="let item of destinations">
                <div class="flex items-center rounded-lg bg-white shadow-lg overflow-hidden hover:-translate-y-0.5 transform transition">
                    <img class="h-32 w-32 flex-shrink-0 lg:h-40 lg:w-40" src="{{item.imgUrl}}" alt="{{item.imgAlt}}">
                    <div class="px-6 py-4">
                        <h3 class="text-lg font-Calistoga  font-semibold text-gray-800 lg:text-2xl lg:font-bold">{{item.city}}</h3>
                        <p class=" text-gray-600 lg:text-lg">${{item.avgPrice}} / night average</p>
                        <div class="mt-4">
                            <a href="#" class="text-bBlue-dark hover:text-bBlue-light font-semibold text-sm lg:text-base"> Explore
                                {{item.propertyCount}}
                                properties</a>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>

    </div>
</div>