<div class="lg:grid lg:grid-cols-2 bg-gray-100">

    <div class="px-8 pb-8 pt-2 max-w-md mx-auto sm:max-w-xl sm:pt-4 lg:px-12 lg:py-20 lg:max-w-full ">

        <img class="max-h-20" src="/assets/img/logo.png" alt="Workcation">
        <img class="mt-4 rounded-2xl shadow-xl sm:h-56 sm:w-full sm:object-cover object-center lg:hidden"
            src="/assets/img/beach_work.jpg" alt="Man workcationing">
        <h1 class="font-Calistoga mt-6 text-[22px] text-[#a98f71] sm:text-3xl lg:text-[26px]">You can take work from
            anywhere.
            <br class="hidden lg:inline">
            <span class="text-[#257bbe]">Take advantage of it..!</span>
        </h1>
        <p class="mt-2 text-sm font-light text-gray-700 sm:text-base lg:mt-3">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's
            standard dummy text ever since the 1500s.
        </p>

        <div class="mt-2 sm:mt-4 lg:mt-6">
            <a class="inline-block bg-[#257bbe] text-white px-4 py-3 rounded-3xl shadow-xl uppercase tracking-wider text-sm sm:text-base"
                href="">Book your escape</a>
        </div>

    </div>

    <div class="hidden lg:block relative">
        <img class="absolute inset-0 w-full h-full object-cover object-center" src="/assets/img/beach_work.jpg"
            alt="Man workcationing">
    </div>

</div>