<div class="wrapper p-8">

    <img class="max-h-20" src="/assets/img/logo.png" alt="Workcation">
    <img class="mt-4 rounded-2xl shadow-xl" src="/assets/img/beach_work.jpg" alt="Man workcationing">
    <h1 class="font-Calistoga mt-6 text-2xl text-[#a98f71]">You can take work from anywhere. <span
            class="text-[#257bbe]">Take advantage of it..!</span></h1>
    <p class=" mt-1 font-light text-gray-700">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s.
    </p>

    <div class="mt-2">
        <a class="inline-block bg-[#257bbe] text-white px-4 py-3 rounded-3xl shadow-xl uppercase tracking-wider text-sm" href="">Book your escape</a>
    </div>

</div>